<header>
    <a href="/">MOVIEMAGIC</a>

    <form action="">
        <input type="text" name="txtSearch" id="txtSearch">
        <input type="button" value="Search" onclick="search()">

    </form>
</header>