<header>
    <a href="/">MOVIEMAGIC</a>

    <form onsubmit="return false">
        <input type="text" name="txtSearch" id="txtSearch">
        <input type="submit" value="Search" onclick="search()">

    </form>
</header>